html {background-color:#edede9; 
    font-family: georgia, serif; 
    font-size: 2vw}
    header {font-size:7vw; 
    font-family: Verdana, sans-serif;
    color:#344e41;
    text-align:Center;}
    .head{font-family: verdana, sans-serif;
    font-size: 3vw}
    nav{text-align:center;
    font-size:3vw;}
    .navigation {display: inline;}
    #main-content{ width: 65vw;
      margin: 1% ;
      border: solid green 1vw;
      border-style: ridge; }
    img{width:10%;}